@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
    var site = Model.Root();
    var mightyPartyCcg = site.ChildrenOfType("mightyPartyCCG").Cast<MightyPartyCcg>().FirstOrDefault();
    var cardHeroesCcg = site.ChildrenOfType("cardHeroesCCG").Cast<CardHeroesCcg>().FirstOrDefault();
    var dragaliaLostNotes = site.DescendantsOfType("dragaliaLostNotes").Cast<DragaliaLostNotes>().FirstOrDefault();
    var adventurerTierList = site.DescendantsOfType("dragaliaLostAdventurerTierList").Cast<DragaliaLostAdventurerTierList>().FirstOrDefault();
    var investmentPortfolio  = site.FirstChild<InvestmentPortfolio>();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Azzara Bootstrap 4 Admin Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="/img/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="/scripts/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Open+Sans:300,400,600,700"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ['/css/fonts.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/azzara.min.css">

    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <div class="wrapper">
        <!-- Main Header -->
        <div class="main-header" data-background-color="purple">
            <!-- Logo Header -->
            <div class="logo-header bg-dark">

                <a href="/" class="logo">
                    <img src="/img/logo-360x200.png" alt="navbar brand" class="navbar-brand" style="height: 57px;">
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fa fa-bars"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
                <div class="navbar-minimize">
                    <button class="btn btn-minimize btn-rounded">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
            <!-- / End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg">
                <div class="container-fluid">
                    <!-- Search Nav -->
                    <div class="collapse" id="search-nav">
                        <form class="navbar-left navbar-form nav-search mr-md-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="submit" class="btn btn-search pr-1">
                                        <i class="fa fa-search search-icon"></i>
                                    </button>
                                </div>
                                <input type="text" placeholder="Search ..." class="form-control">
                            </div>
                        </form>
                    </div>
                    <!-- / Search Nav -->
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li class="nav-item toggle-nav-search hidden-caret">
                            <a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- / Navbar Header -->
        </div>
        <!-- / Main Header -->
        <!-- SIDEBAR -->
        <div class="sidebar">
            <div class="sidebar-background"></div>
            <div class="sidebar-wrapper scrollbar-inner">
                <div class="sidebar-content">
                    <div class="user bg-grey2">
                        <div class="avatar-sm float-left mr-2">
                            <img src="~/img/dashboard-logo.png" alt="..." class="avatar-img">
                        </div>
                        <div class="info">
                            <a>
                                <span>
                                    CCG Game
                                    <span class="user-level">Deck manager</span>
                                </span>
                            </a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <ul class="nav">
                        <li class="nav-item active">
                            <a href="/">
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <!-- INVESTMENT PORTFOLIO -->
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#investmentPortfolio">
                                <i class="fas fa-paint-roller"></i>
                                <p>Investment Portfolio</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="investmentPortfolio">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a href="@investmentPortfolio.Url">
                                            <span class="sub-item">Investment Portfolio</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- / INVESTMENT PORTFOLIO -->
                        <!-- MIGHTY PARTY -->
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#mightyPartyPages">
                                <i class="fas fa-paint-roller"></i>
                                <p>Mighty Party</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="mightyPartyPages">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a href="@mightyPartyCcg.Collection.Url">
                                            <span class="sub-item">Mighty Party Collection</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@mightyPartyCcg.Decks.Url">
                                            <span class="sub-item">Mighty Party Decks</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- / MIGHTY PARTY -->
                        <!-- CARD HEROES -->
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#cardHeroesPages">
                                <i class="fas fa-paint-roller"></i>
                                <p>Card Heroes</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="cardHeroesPages">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a href="@cardHeroesCcg.Decks.Url">
                                            <span class="sub-item">Card Heroes Decks</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- / CARD HEROES -->
                        <!-- DRAGALIA LOST -->
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#dragaliaLosPages">
                                <i class="fas fa-paint-roller"></i>
                                <p>Dragalia Lost</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="dragaliaLosPages">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a href="@dragaliaLostNotes.Url">
                                            <span class="sub-item">Notes</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@adventurerTierList.Url">
                                            <span class="sub-item">@adventurerTierList.PageTitle</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- / DRAGALIA LOST -->
                    </ul>
                </div>
            </div>
        </div>
        <!-- / SIDEBAR -->

        <div class="main-panel">
            @RenderBody()
        </div>
    </div>

    <!--   Core JS Files   -->
    <script src="/scripts/core/jquery.3.2.1.min.js"></script>
    <script src="/scripts/core/popper.min.js"></script>
    <script src="/scripts/core/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="/scripts/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="/scripts/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="/scripts/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Moment JS -->
    <script src="/scripts/plugin/moment/moment.min.js"></script>

    <!-- Chart JS -->
    <script src="/scripts/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="/scripts/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="/scripts/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="/scripts/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="/scripts/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- Bootstrap Toggle -->
    <script src="/scripts/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="/scripts/plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="/scripts/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

    <!-- Google Maps Plugin -->
    <script src="/scripts/plugin/gmaps/gmaps.js"></script>

    <!-- Sweet Alert -->
    <script src="/scripts/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Azzara JS -->
    <script src="/scripts/ready.min.js"></script>

</body>
</html>