@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.MightyPartyDecksList>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var decks = Model.Children<MightyPartyDeck>().ToArray();
}

<style>
    .rate-progress { 
        height:15px;
        margin:20px;
        background-image: 
                        linear-gradient(#ccc,#ccc),
                        linear-gradient(to right,  #FF0000 10%,#FF4400 20%,#FF8800 30%,#FFAA00 40%,#FFCC00 50%,#FFFF00 60%,#CCFF00 70%,#88FF00 80%,#44FF00 90%,#00FF00 100%);
        background-size:var(--p,50%) 100%,100% 100%;
        background-position:right,left;
        background-repeat:no-repeat;
    }
</style>

<div class="content content-full">
    <!-- PAGE-INNER -->
    <div class="page-inner">
        <!-- PAGE-HEADER -->
        <div class="page-header">
            <h4 class="page-title">@Model.PageTitle</h4>
        </div>
        <!-- / PAGE-HEADER -->
        <!-- COLLECTION CONTAINER -->
        <div class="container-fluid">
            <div class="row">
                @foreach (var deck in decks)
                {
                    var hero = deck.Value<MightyPartyHero>("hero");
                    var cards = deck.DeckCards.Cast<MightyPartyCard>().ToArray();

                    <div class="col-12">
                        <div class="card">
                            <div class="card-header bg-secondary">
                                <div class="d-flex align-items-center">
                                    <div class="avatar">
                                        <img src="@hero.HeroImage.Url" alt="@hero.HeroName" class="avatar-img rounded-circle">
                                    </div>
                                    <div class="card-title ml-2 fw-bold text-white">@deck.DeckTitile</div>
                                    <div style="flex: 1;">
                                        <div class="rate-progress" style="--p:@(100-deck.DeckRate)%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="d-flex flex-row flex-wrap justify-content-center justify-content-md-start">
                                    @foreach (var card in cards)
                                    {
                                        <div class="d-flex flex-column justify-content-center m-1" 
                                             style="max-width: 120px; background-color: #@card.MightyPartyRarity.Color">
                                            <div class="p-2 fw-bold text-white text-truncate"
                                                 style="background-color: #@card.MightyPartyRarity.Color">
                                                <small>@card.CardName</small>
                                            </div>
                                            <img src="@card.CardImage.Url" alt="@card.CardName" style="width: 120px;"/>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- / COLLECTION CONTAINER -->

    </div>
    <!-- / PAGE-INNER -->

</div>
