@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.MightyPartyCollection>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var cards = Model.Children<MightyPartyCard>().ToArray();
}

<style type="text/css">
    .col_thumb_card {
        text-align: center;
        width: 8rem;
        padding: 4px;
        margin: 4px;
    }

        .col_thumb_card .card-img-container {
        }

            .col_thumb_card .card-img-container img {
                width: 100%;
            }

        .col_thumb_card .card-meta-container {
        }
            .col_thumb_card .card-meta-container ul {
                padding-left: 0;
                margin-bottom: 0;
            }
            .col_thumb_card .card-meta-container ul>li {
                display: inline;
            }

            .col_thumb_card .card-meta-container .card-name {
                color: #FFFFFF;
                font-size: 0.9rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                display: block;
                -webkit-font-smoothing: antialiased;
                font-family: noto sans,sans-serif;
                font-size: 12px;
            }

                .col_thumb_card .card-meta-container .card-name:hover {
                    color: #6dbcdb;
                }

</style>

<div class="content content-full">
    <!-- PAGE-INNER -->
    <div class="page-inner">
        <!-- PAGE-HEADER -->
        <div class="page-header">
            <h4 class="page-title">@Model.PageTitle</h4>
        </div>
        <!-- / PAGE-HEADER -->
        <!-- COLLECTION CONTAINER -->
        <div class="container-fluid">
            <div class="row">
                @foreach (var card in cards)
                {
                    <div class="col_thumb_card" style="background-color: #@card.MightyPartyRarity.Color !important;">
                        <div class="card-img-container">
                            <img src="@card.CardImage.Url" alt="@card.CardName" />
                        </div>
                        <div class="card-meta-container">
                            <span class="card-name">@card.CardName</span>
                            @{
                                var race = card.Value<MightPartyRace>("creatureRace");
                                var kindOfTroops = card.Value<MightyPartyKindOfTroops>("kindOfTroops");
                            }
                            @*<ul>
                                <li><img src="@race.RaceImage.Url" alt="" style="width: 24px" /></li>
                                <li><img src="@kindOfTroops.TroopsImage.Url" alt="" style="width: 24px" /></li>
                            </ul>*@
                        </div>
                    </div>
                }
            </div>

            @*<div class="row">
                @foreach (var card in cards)
                {
                    <div class="card d-flex flex-column m-1" style="flex: 0 0 168px">
                        <div class="p-2 bg-secondary fw-bold text-white" style="flex: 1;"><small>@card.CardName</small></div>
                        <div class="d-flex flex-row">
                            <div style="flex: 0 0 128px;">
                                <a href="@card.Url">
                                    <img src="@card.CardImage.Url" class="card-img" alt="@card.CardName">
                                </a>
                            </div>
                            <div class="d-flex flex-column" style="flex: 1; background-color: #@card.MightyPartyRarity.Color !important;">
                                @{
                                    var race = card.Value<MightPartyRace>("creatureRace");
                                    var kindOfTroops = card.Value<MightyPartyKindOfTroops>("kindOfTroops");
                                }
                                <div class="px-2 pt-1">
                                    <img src="@race.RaceImage.Url" alt="" style="width: 24px" />
                                </div>
                                <div class="px-2 pt-1">
                                    <img src="@kindOfTroops.TroopsImage.Url" alt="" style="width: 24px" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>*@

        </div>
        <!-- / COLLECTION CONTAINER -->

    </div>
    <!-- / PAGE-INNER -->

</div>
